POSTGRES_USER=media
POSTGRES_PASSWORD=changeme
POSTGRES_DB=media
SESSION_SECRET=change-me-to-a-random-32-char-string
AUTH_SERVICE_URL=http://octopus-auth:3002
CORTEX_URL=http://octopus-cortex:3010
CORS_ORIGIN=https://media.octopustechnology.net
